---
layout: default
---
{% include JB/setup %}


<div class="row-fluid">
  <div class="span2"><img src="img/foto_lavoro_bn.png"/> </div>

  <div class="span5">
  {{content}}
  </div>

  <div class="span5">
        <h1> Projects</h1>

        <ul class="posts">
          {% for post in site.posts %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo;
                <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>  </div>

</div>
